body{
    width:50%;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    h4{
        font-size: 12px;
        color: grey;
        margin: 0 auto;
        width: 50%;
        }

    a{
        color: black;
    }

    .a{

        border-radius: 90px;
     }
div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pic img{
    width:20px;
    height: 20px;
    margin-top: 30px;
    }

.name p{ 

    margin-right: 350px;

}

.name p{
    cursor: pointer;
}
    
.name p title{
    display:inline;
}
 .pic h2{
    display: none;
 }

 .name h2{
    display: none;
 }